DATABASE_URL="postgresql://USER_NAME@localhost:5432/serenza"

APP_URL="http://localhost:3000"
PAYMENT_PROVIDER="paytr"

PANEL_AUTH_ENABLED="true"
PANEL_AUTH_USER="admin"
PANEL_AUTH_PASSWORD="change-this-strong-password"

NEXT_PUBLIC_GA4_ID=""
NEXT_PUBLIC_GOOGLE_ADS_ID=""
NEXT_PUBLIC_META_PIXEL_ID=""
NEXT_PUBLIC_TIKTOK_PIXEL_ID=""
META_PIXEL_ID=""
META_CONVERSIONS_ACCESS_TOKEN=""
TIKTOK_ACCESS_TOKEN=""
GOOGLE_MERCHANT_ID=""

PAYTR_MERCHANT_ID=""
PAYTR_MERCHANT_KEY=""
PAYTR_MERCHANT_SALT=""
PAYTR_SUCCESS_URL="https://serenzahomeliving.com/order-success"
PAYTR_FAIL_URL="https://serenzahomeliving.com/payment/failed"
PAYTR_CALLBACK_URL="https://serenzahomeliving.com/api/payment/webhook/paytr"
PAYTR_TEST_MODE="1"
PAYTR_DEBUG_ON="1"
PAYTR_TEST_USER_IP="127.0.0.1"

IYZICO_API_KEY=""
IYZICO_SECRET_KEY=""
IYZICO_BASE_URL="https://sandbox-api.iyzipay.com"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PUBLISHABLE_KEY=""

YURTICI_CUSTOMER_CODE=""
YURTICI_USERNAME=""
YURTICI_PASSWORD=""
YURTICI_BASE_URL=""

TRENDYOL_SUPPLIER_ID=""
TRENDYOL_API_KEY=""
TRENDYOL_API_SECRET=""
TRENDYOL_TOKEN=""
TRENDYOL_INTEGRATION_CODE=""
TRENDYOL_BASE_URL="https://apigw.trendyol.com"
TRENDYOL_USER_AGENT="SerenzaHomeLiving/1.0"
TRENDYOL_STORE_URL="https://www.trendyol.com/magaza/serenza-home-living-m-1259031?sst=0&channelId=1"

HEPSIBURADA_MERCHANT_ID=""
HEPSIBURADA_API_KEY=""
HEPSIBURADA_API_SECRET=""

AMAZON_SELLER_ID=""
AMAZON_ACCESS_KEY=""
AMAZON_SECRET_KEY=""

N11_APP_KEY=""
N11_APP_SECRET=""
